<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PBZ lab 2</title>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/momentjs/2.24.0/moment.js"></script>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <a th:href="@{/production/add}" class="btn btn-outline-secondary m-2">Add production</a>
        <a href="/" class="btn-outline-secondary btn m-2">Back</a>
    </div>
</div>
<div class="container">
    <table class="table pt-5">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">PRODUCT NAME</th>
            <th scope="col">PRODUCER NAME</th>
            <th scope="col">DATE</th>
            <th scope="col">PLACE</th>
            <th scope="col">PRICE</th>
            <th scope="col">ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="production : ${productions}">
            <th scope="row" th:text="${production.id}">1</th>
            <td th:text="${production.product.name}">Mark</td>
            <td th:text="${production.producer.name}">Otto</td>
            <td th:text="${production.date}">@mdo</td>
            <td th:text="${production.place}">@mdo</td>
            <td th:text="${production.product.price}">@mdo</td>
            <td>
                <a th:href="@{/production/{id}/update(id=${production.id})}">Edit</a>
                <a>|</a>
                <a th:href="@{/production/{id}/delete(id=${production.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>