<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PBZ lab 2</title>

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/momentjs/2.24.0/moment.js"></script>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center mt-5">
        <a href="/product/add" class="btn btn-outline-secondary m-2">Add product</a>
        <a href="/" class="btn-outline-secondary btn m-2">Back</a>
    </div>
</div>
<div class="container">
    <table class="table pt-5">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">PRICE</th>
            <th scope="col">TYPE</th>
            <th scope="col">ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <th scope="row" th:text="${product.id}">1</th>
            <td th:text="${product.name}">name</td>
            <td th:text="${product.price}">price</td>
            <td th:text="${product.type.name}">type</td>
            <td>
                <a th:href="@{/product/{id}/productions(id=${product.id})}">Productions</a>
                <a>|</a>
                <a th:href="@{/product/{id}/update(id=${product.id})}">Edit</a>
                <a>|</a>
                <a th:href="@{/product/{id}/delete(id=${product.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>